<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
   <title>Covid Vaccine Finder</title>

  <!--Custom css-->
  <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
</head>

<body>

  <%- include('components/header.ejs');  -%>
  <%- include('components/home.ejs');  -%>
   <%- include('components/card.ejs');  -%>
   <%- include('components/footer.ejs');  -%>

 
</body>
<script src="/public/js/script.js"></script>

</html>