<!DOCTYPE html>
<html>

<head>

  <title>Covaccine</title>

  <!--Custom css-->
  <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
</head>

<body>

  <%- include('components/header.ejs');  -%>

  <%- include('components/home.ejs');  -%>
   <%- include('components/card.ejs');  -%>
   <%- include('components/footer.ejs');  -%>

 
</body>
<script src="/public/js/script.js"></script>

</html>